body {
  margin: 0;
  padding: 0;
  background-color: #e4d0d0;
}
form {
  width: 600px;
  margin: 30px auto 0 auto;
  padding: 20px;
  background-color: #867070;
  margin-bottom: 100px;
}

.button-kembalipembayaran {
    margin-top: 5px;
    margin-left: 5px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: white;
}

.button-kembalipembayaran a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

h1 {
  text-align: center;
}
.box {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px 0 15px 0;
  background-color: #d5b4b4;
}
.btn {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #d5b4b4;
  font-size: 10px;
  color: #867070;
  cursor: pointer;
  margin-top: 30px;
}
.back {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-family: cursive;
  color: #d5b4b4;
  background-color: #867070;
  cursor: pointer;
}

.back a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px;
  }
  form {
    width: 100%;
    box-sizing: border-box;
  }
}

.div-buttondelete {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.div-buttondelete button {
  width: 300px;
}

.div-buttonupdate {
  display: flex;
  justify-content: center;
}

.div-bank {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.div-bank img {
  width: 100px;
}

.div-bank p {
  padding-top: 10px;
}

.div-dana {
  text-align: center;
}

.div-bri {
  text-align: center;
}

.div-bca {
  text-align: center;
}
